In [1]:
#Pandas è una libreria che fornisce strutture dati e strumenti di analisi dati molto efficenti e facili da usare
#Serie
import numpy as np
import pandas as pd
from numpy.random import randn

lista = np.arange(1,101)
serie = pd.Series(lista)
print(serie)

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Length: 100, dtype: int32

In [2]:
#I dataframe sono oggetti costruiti dalle serie, e come argomento presentano i seguenti campi: -data, -index, -columns
#Quindi un dataframe è un insieme di colonne che condividono gli stessi indici o date 
#Creo un dataframe con numeri casuali
dataframe = pd.DataFrame(randn(4,3) , ['1', '2','3', '4'], ['FCA', 'GOOGL', 'APLL'])
print(dataframe)
type(dataframe)

        FCA     GOOGL      APLL
1 -0.183648 -1.076670 -1.758598
2 -1.175476 -0.325400  0.742572
3  0.283250  0.099302  1.093814
4 -1.555793  1.387674 -0.348698

pandas.core.frame.DataFrame

In [3]:
#Inserisco una nuova colonna nel dataframe
dataframe['TSLA'] = pd.DataFrame(randn(4,1) , dataframe.index, ['TSLA'])
print(dataframe)

        FCA     GOOGL      APLL      TSLA
1 -0.183648 -1.076670 -1.758598 -2.239720
2 -1.175476 -0.325400  0.742572  2.787088
3  0.283250  0.099302  1.093814 -0.119490
4 -1.555793  1.387674 -0.348698  1.949157

In [4]:
#Creo una nuova colonna sommando le colonne esistenti 
dataframe['SOMMA'] = dataframe['FCA'] + dataframe['GOOGL'] + dataframe['APLL'] + dataframe['TSLA']
print(dataframe)

        FCA     GOOGL      APLL      TSLA     SOMMA
1 -0.183648 -1.076670 -1.758598 -2.239720 -5.258636
2 -1.175476 -0.325400  0.742572  2.787088  2.028783
3  0.283250  0.099302  1.093814 -0.119490  1.356877
4 -1.555793  1.387674 -0.348698  1.949157  1.432340

In [5]:
#Estraggo la prima riga del dataframe
dataframe.iloc[0]

FCA     -0.183648
GOOGL   -1.076670
APLL    -1.758598
TSLA    -2.239720
SOMMA   -5.258636
Name: 1, dtype: float64

In [6]:
#Elimino la colonna somma
dataframe.drop('SOMMA', axis = 1)

        FCA     GOOGL      APLL      TSLA
1 -0.183648 -1.076670 -1.758598 -2.239720
2 -1.175476 -0.325400  0.742572  2.787088
3  0.283250  0.099302  1.093814 -0.119490
4 -1.555793  1.387674 -0.348698  1.949157