In [29]:
import pandas as pd
import numpy as np
from numpy.random import rand

In [32]:
df = pd.DataFrame(rand(4,3) * 100, ['1', '2','3', '4'], ['FCA', 'GOOGL', 'APLL'])
df.iloc[2:3] = np.nan
df

         FCA      GOOGL       APLL
1  98.980565  93.747441  21.279557
2   9.709528  66.162582  47.551387
3        NaN        NaN        NaN
4  68.823049  42.986893  31.418857

In [33]:
df.fillna(0)

         FCA      GOOGL       APLL
1  98.980565  93.747441  21.279557
2   9.709528  66.162582  47.551387
3   0.000000   0.000000   0.000000
4  68.823049  42.986893  31.418857

In [34]:
df.fillna(method="ffill")

         FCA      GOOGL       APLL
1  98.980565  93.747441  21.279557
2   9.709528  66.162582  47.551387
3   9.709528  66.162582  47.551387
4  68.823049  42.986893  31.418857

In [35]:
df.fillna(method="bfill")

         FCA      GOOGL       APLL
1  98.980565  93.747441  21.279557
2   9.709528  66.162582  47.551387
3  68.823049  42.986893  31.418857
4  68.823049  42.986893  31.418857

In [37]:
df.interpolate()

         FCA      GOOGL       APLL
1  98.980565  93.747441  21.279557
2   9.709528  66.162582  47.551387
3  39.266289  54.574738  39.485122
4  68.823049  42.986893  31.418857