In [111]:
import pandas as pd

In [112]:
def sp500():
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    html = pd.read_html(url, header = 0)
    data = html[0]
    return data
df = sp500()
df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [113]:
df.sort_values(by = 'GICS Sector')

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
471,VIAC,ViacomCBS,reports,Communication Services,Movies & Entertainment,"New York, New York",NaN,813828,2019 (1952)
146,DISH,Dish Network,reports,Communication Services,Cable & Satellite,"Meridian, Colorado",2017-03-13,1001082,1980
481,DIS,The Walt Disney Company,reports,Communication Services,Movies & Entertainment,"Burbank, California",1976-06-30,1744489,1923
145,DISCK,"Discovery, Inc. (Series C)",reports,Communication Services,Broadcasting,"New York, New York",2014-08-07,1437107,1985
144,DISCA,"Discovery, Inc. (Series A)",reports,Communication Services,Broadcasting,"New York, New York",2010-03-01,1437107,1985
...,...,...,...,...,...,...,...,...,...
375,PPL,PPL Corp.,reports,Utilities,Electric Utilities,"Allentown, Pennsylvania",NaN,922224,1920
53,ATO,Atmos Energy,reports,Utilities,Gas Utilities,"Dallas, Texas",2019-02-15,731802,1906
178,EXC,Exelon Corp.,reports,Utilities,Multi-Utilities,"Chicago, Illinois",1957-03-04,1109357,2000
410,SRE,Sempra Energy,reports,Utilities,Multi-Utilities,"San Diego, California",NaN,1032208,1998
381,PEG,Public Service Enterprise Group (PSEG),reports,Utilities,Electric Utilities,"Newark, New Jersey",1957-03-04,788784,1903

In [114]:
df.sort_values(by = ['GICS Sector', 'GICS Sub-Industry'], ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
33,AWK,American Water Works,reports,Utilities,Water Utilities,"Camden, New Jersey",2016-03-04,1410636,1886
27,AEE,Ameren Corp,reports,Utilities,Multi-Utilities,"St. Louis, Missouri",1991-09-19,1002910,1902
95,CNP,CenterPoint Energy,reports,Utilities,Multi-Utilities,"Houston, Texas",1985-07-31,1130310,1882
113,CMS,CMS Energy,reports,Utilities,Multi-Utilities,"Jackson, Michigan",1999-05-03,811156,1886
153,DTE,DTE Energy Co.,reports,Utilities,Multi-Utilities,"Detroit, Michigan",1957-03-04,936340,1995
...,...,...,...,...,...,...,...,...,...
144,DISCA,"Discovery, Inc. (Series A)",reports,Communication Services,Broadcasting,"New York, New York",2010-03-01,1437107,1985
145,DISCK,"Discovery, Inc. (Series C)",reports,Communication Services,Broadcasting,"New York, New York",2014-08-07,1437107,1985
294,LUMN,Lumen Technologies,reports,Communication Services,Alternative Carriers,"Monroe, Louisiana",1999-03-25,18926,1983 (1877)
251,IPG,Interpublic Group,reports,Communication Services,Advertising,"New York, New York",1992-10-01,51644,1961 (1930)
352,OMC,Omnicom Group,reports,Communication Services,Advertising,"New York, New York",NaN,29989,1986

In [115]:
df.groupby( by = 'GICS Sector').first()

,Symbol,Security,SEC filings,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
GICS Sector,,,,,,,,
Communication Services,ATVI,Activision Blizzard,reports,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
Consumer Discretionary,AAP,Advance Auto Parts,reports,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
Consumer Staples,MO,Altria Group Inc,reports,Tobacco,"Richmond, Virginia",1957-03-04,764180,1985
Energy,APA,APA Corporation,reports,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,6769,1954
Financials,AFL,Aflac,reports,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
Health Care,ABT,Abbott Laboratories,reports,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
Industrials,MMM,3M Company,reports,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
Information Technology,ACN,Accenture,reports,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
Materials,APD,Air Products & Chemicals,reports,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969,1940
Real Estate,ARE,Alexandria Real Estate Equities,reports,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
Utilities,AES,AES Corp,reports,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981

In [116]:
df.groupby( by = 'GICS Sector').sum()['CIK'].sort_values(ascending=False)

GICS Sector
Information Technology    69484032
Consumer Discretionary    50896131
Health Care               49492630
Industrials               47978338
Financials                41039298
Communication Services    29007167
Real Estate               27016858
Materials                 23433380
Utilities                 22498116
Energy                    17186106
Consumer Staples          12392940
Name: CIK, dtype: int64

In [117]:
pd.pivot_table(df, values='CIK', index=['GICS Sector', 'Symbol'])

                                   CIK
GICS Sector            Symbol
Communication Services ATVI     718877
                       CHTR    1091667
                       CMCSA   1166691
                       DIS     1744489
                       DISCA   1437107
...                                ...
Utilities              PPL      922224
                       SO        92122
                       SRE     1032208
                       WEC      783325
                       XEL       72903

[505 rows x 1 columns]